<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHapi.Base" publicKeyToken="d0d8ea960a3440eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.0.5" newVersion="2.5.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHapi.Model.V22" publicKeyToken="d0d8ea960a3440eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.0.5" newVersion="2.5.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHapi.Model.V21" publicKeyToken="d0d8ea960a3440eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.0.5" newVersion="2.5.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHapi.Model.V23" publicKeyToken="d0d8ea960a3440eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.0.5" newVersion="2.5.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHapi.Model.V231" publicKeyToken="d0d8ea960a3440eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.0.5" newVersion="2.5.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHapi.Model.V24" publicKeyToken="d0d8ea960a3440eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.0.5" newVersion="2.5.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHapi.Model.V25" publicKeyToken="d0d8ea960a3440eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.0.5" newVersion="2.5.0.5" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>